.button {
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    background: #32abb5;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    border: none;
    text-transform: uppercase;
  }
  
  
  